NODE_ENV=development
PORT=5000

# MongoDB
MONGODB_URI=mongodb+srv://elbetelmolla25_db_user:Ji7YfPF7eW0VwFk8@cluster0.unljqgb.mongodb.net/?appName=Cluster0
MONGODB_URI_PROD=mongodb+srv://<user>:<password>@cluster.mongodb.net/ems

# JWT
JWT_ACCESS_SECRET=your-super-secret-access-key-change-in-production
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-in-production
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# CORS
CLIENT_URL=http://localhost:5173

# File Upload
MAX_FILE_SIZE=5242880
UPLOAD_PATH=uploads/
